.au-logo-get-married{
  width: 360px;
  height: auto;
}

.au-navbar {
  display: flex;
  align-items: baseline;
}

.au-modal-confirm {
  font-size: 14px;
}

.au-modal-confirm .form-control {
  padding: 0 10px;
  font-size: 14px;
  line-height: 1;
  height: 35px;
  margin-top: 5px;
}

.au-finca-no-repeat {
  background-size: cover !important;
  position: relative;
  background-repeat: no-repeat !important;
  z-index: 0;
  width: 100%;
}

.au-logo-get-married-footer{
  width: 180px;
  height: auto;
}

.au-background-grey{
  background-color: #f4f4f4 !important;
}