{% extends '_base.html' %}
{% load static %}

{% block title %}Boda de Aúpa{% endblock title %}

{% block body %}
<header role="banner" id="qbootstrap-header">
	<div class="container">
		<!-- <div class="row"> -->
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<!-- Mobile Toggle Menu Button -->
				<a href="#" class="js-qbootstrap-nav-toggle qbootstrap-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="#" data-nav-section="home"><span>Inicio</span></a></li>
				<li><a href="#" data-nav-section="church"><span>La Iglesia</span></a></li>
				<li><a href="#" data-nav-section="venue"><span>La Finca</span></a></li>
				<li><a href="#" data-nav-section="what-there-is"><span>¿Qué habrá en la boda?</span></a></li>
				<li><a href="#" data-nav-section="what-there-is-not"><span>¿Qué no habrá en la boda?</span></a></li>
				<li><a href="#" data-nav-section="last-news"><span>Últimas Noticias</span></a></li>
				<li class="au-confirm-assistance"><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-confirm">Confirmar</button></li>
			</ul>
			</div>
		</nav>
		<!-- </div> -->
	</div>
</header>

<div class="qbootstrap-hero" data-section="home">
	<div class="qbootstrap-overlay"></div>
	<div class="qbootstrap-cover text-center au-background-centered"
		data-stellar-background-ratio="0.5">
		<div class="display-t">
			<div class="display-tc">
				<div class="container">
					<div class="col-md-10 col-md-offset-1">
						<div class="animate-box svg-sm colored">
							<img src="{% static "images/AUPA-icon-blanco-01.png" %}" class="svg" alt="">
							<h1 class="holder"><span>Boda de Aúpa</span></h1>
							<h2>Aurora y Pablo</h2>
							<p>18.05.2019</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="qbootstrap-couple" class="qbootstrap-section-gray">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 animate-box">
				<div class="col-md-12 text-center section-heading svg-sm colored">
					<img class="au-logo-get-married" src="{% static "images/AUPA-LOGO-01.png" %}" class="svg" alt="">
					
					<h2>Boda de Aúpa</h2>
					<div class="datewed">¡Hola! Bienvenido a bodadeaupa. Aquí encontrarás noticias e información actualizada sobre el evento.</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="qbootstrap-countdown"
	data-stellar-background-ratio="0.5"
	class="au-background-centered"
	style="background-image: url(/static/images/jeronimos3.jpg)"
	data-section="church">
	<div class="overlay"></div>
	<div class="display-over">
		<div class="container" style="height:800px">
			<div class="row animate-box">
				<div class="col-md-12 section-heading text-center svg-sm colored">
					<h2 class="">La Iglesia</h2>
					<div class="datewed">San Jerónimo el Real (C/  Moreto 4. Madrid)</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="qbootstrap-groom-bride" data-section="venue">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2">
				<div class="col-md-12 text-center section-heading svg-sm-2 colored">
					<h2>La Finca</h2>
					<div class="col-md-10 col-md-offset-1 subtext">
						<h3>Finca Las Jarillas. M-607, Km 19.900, 28049 Madrid.</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="qbootstrap-testimonials"
	class="qbootstrap-greetings au-finca-no-repeat au-background-centered"
	data-section="greetings" data-stellar-background-ratio="0.5"
	style="background-image: url(/static/images/jarillas_exterior.jpg);">
<div class="overlay"></div>	
	<div class="container" style="height:800px">
	</div>
</div>

<div id="qbootstrap-gallery" class="au-background-grey" data-section="what-there-is">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2">
				<div class="col-md-12 text-center section-heading svg-sm colored">
					<img src="{% static "images/flaticon/svg/005-two.svg" %}" class="svg" alt="">
					<h2>¿Qué habrá en la boda?</h2>
					<div class="col-md-10 col-md-offset-1 subtext">
						<h3>¿Qué te gustaría que hubiera en la boda? Se admiten sugerencias.</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<img src="{% static "images/fotos_auropablo_casas.JPG" %}" style="width:100%;height:auto"/>
<div id="qbootstrap-gallery" data-section="what-there-is-not">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2">
				<div class="col-md-12 text-center section-heading svg-sm colored">
					<img src="{% static "images/flaticon/svg/005-two.svg" %}" class="svg" alt="">
					<h2>¿Qué no habrá en la boda?</h2>
					<div class="row">
					<div class="col-md-10 col-md-offset-1 subtext">
						<h3></h3>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
<img src="{% static "images/corniero.jpeg" %}" style="width:100%;height:auto"/>
<div id="qbootstrap-press" data-section="last-news">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2">
				<div class="col-md-12 text-center section-heading svg-sm colored">
					<img src="{% static "images/flaticon/svg/005-two.svg" %}" class="svg" alt="">
					<h2>Últimas Noticias</h2>
					<div class="row">
					<div class="col-md-10 col-md-offset-1 subtext">
						<h3>Aquí te enterarás de las últimas noticias sobre la bodadeaupa.</h3>
					</div>
				</div>
				</div>
			</div>
		</div>
		<div class="row">
		{% for post in posts %}
			{% include "embedded_post.html" with post=post %}
		{% endfor %}
		</div>
		{% if show_blog_button %}
		<div class="text-center">
			<br>
			<a href="/blog" class="btn btn-primary">Ver todos</a>
		</div>
		{% endif %}
	</div>
</div>

<footer id="footer" role="contentinfo">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<img class="au-logo-get-married-footer" src="{% static "images/AUPA-LOGO-01-favicon.png" %}" class="svg" alt="">
			</div>
		</div>
	</div>
</footer>

<!-- Registration Modal -->
<div class="modal fade au-modal-confirm" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="modal-confirm-label">
	<div class="modal-dialog" role="document">
	{% include "modal_confirm_content.html" %}
	</div>
</div>
{% endblock body %}
